body{
    font-family: 'Poppins', sans-serif;
}
.projects-name{
    margin-left: 100px; 
}
.start-text{
    font-size: 2em;
}
.menu-bars-name{
display: flex;
align-items: center;
margin-top: 40px;
}
.menu-bar{
    margin-left: 350px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-left: 30px;
}
/*-------------
 Header style 
 -------------- */
.container{
    display: flex;    
    
}
.heading{
    width: 500px;
    height: 250px;
    margin-left: 100px;
    margin-top: 100px;
}
.fas{
    margin-left: 10px;
}
.container a{
    text-decoration: none;
    background-color: #E83A59;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}
.container img{
    width: 450px;
    height: 450px;
    margin-left: 130px;
    margin-top: 30px;
}

/* company logo style  */

.company-logos{
    border: 2px solid whitesmoke;
    border-left: none;
    border-right: none;
    margin: 100px 100px 100px 100px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;   
}
/* products style  */
.popularity{
    text-align: center;
}
.products img{
    width: 300px;
    height: 250px;
}