body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
.projects-name{
    margin-left: 100px; 
}
.start-text{
    font-size: 2em;
}
.menu-bars-name{
display: flex;
align-items: center;
margin-top: 40px;
}
.menu-bar{
    margin-left: 350px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-left: 30px;
}
/*-------------
 Header style 
 -------------- */
.container{
    display: flex;
    
}
.heading{
    width: 500px;
    height: 250px;
    margin-left: 100px;
    margin-top: 100px;
}
.fas{
    margin-left: 10px;
}
.container a{
    text-decoration: none;
    background-color: #E83A59;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}
.container img{
    width: 450px;
    height: 450px;
    margin-left: 130px;
    margin-top: 30px;
}

/*------------
 company logo style
 ----------- ---*/

.company-logos{
    border: 2px solid whitesmoke;
    border-left: none;
    border-right: none;
    margin: 100px 100px 100px 100px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;   
}
/*-----------------
 products style
 -----------------  */
.title{
    text-align: center;
}
.product{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    
    /* grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 50px 100px 50px 100px; */
    
}

.products img{
    width: 300px;
height: 256px;
}

/* -----------
see more style
------------- */

.more-product a{
    margin-left: 960px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #E83A59;
 } 
 .fas.fa-long-arrow-alt-right{
color:#E83A59 ;
 }  

 /* ----------
 rating style
 ----------  */

.fa-star.filled{
color:#FFC014;
}
/*-------------
 Footer style
 -------------  */

.my-footer{
    height: 200px;
    padding-top: 10px;
    color: white;
    background-color: #120E43;
    text-align: center;

}
.footer-title{
    color: #D9DBE1;

}
.social-media{
    padding-top: 10px;
}
.social-media a{
    margin: 10px;
    color: whitesmoke;
    
}
/* --------------
Mobile devices
-------------- */


